/* ------------------------------- Coloque sua estilização aqui ------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.header__container {
    background-color: var(--grey0);
    height: 6.25rem;
    position: fixed;
    width: 100%;

}

.header__container>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__title {
    color: var(--grey5);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.25rem;
    margin: 1.875rem;
}

.header__button {
    width: 11.25rem;
    height: 2.5rem;

    font-weight: 600;
    font-size: 0.75rem;
    color: var(--grey5);

    background-color: var(--grey0);
    border-color: var(--grey5);
    border-radius: 0.3125rem;

    margin: 3.125rem;
}

.header__button:hover {
    cursor: pointer;
}

.filter__text {
    display: flex;
    height: 37.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--grey2);
}

.filter__texto {
    display: flex;
    height: 5rem;
    margin-top: 15.625rem;
    margin-left: 1.75rem;
    font-size: 2.625rem;
    font-weight: 600;
    line-height: 140%;
    gap: 0.75rem;

    color: var(--grey5);
}

.filter__span {
    color: var(--brand-2);
}

.filter__paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40.625rem;
    height: 18.75rem;
    margin-bottom: 7.5rem;

    color: var(--grey3);
}

.filter__aboutUs {
    color: var(--grey5);

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 12.5rem;
    height: 6.25rem;
    background-color: var(--brand-1);
    bottom: 6.25rem;

    border-radius: 0.625rem;
}

.div__container2 {
    height: 12.5rem;
    background-color: var(--grey0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div__h2 {
    display: flex;
    width: 15.625rem;
    height: 3.125rem;
    margin-left: 18.125rem;
    font-size: 1.375rem;
    color: var(--grey5);
}

.div__paragraph {
    display: flex;
    width: 15.625rem;
    height: 3.125rem;
    margin-right: 10rem;
    margin-bottom: 3.125rem;
    color: var(--grey5);
    font-weight: 100;
}

.div__container3 {
    display: flex;
    justify-content: space-between;
    height: 53.125rem;
    background-color: var(--grey2);
}

.div__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 7.5rem;
    margin-top: 4.375rem;
}

.div__texto {
    display: flex;
    width: 18.75rem;
    height: 6.25rem;
    align-items: center;
    justify-content: center;
    margin-left: 1.25rem;

    font-size: 1.375rem;
    color: var(--grey5);
    font-weight: 600;
}

.section__p {
    display: flex;
    width: 21.875rem;
    padding-left: 11.25rem;
    color: var(--grey5);
    font-weight: 100;
}

.section__span {
    display: flex;
    width: 12.5rem;
    height: 1.875rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--brand-1);
    color: var(--grey5);
    font-size: 0.875rem;
    margin: 1.5rem auto;
    margin-left: 11.25rem;
}

.div__container4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 18.75rem;
    height: 31.25rem;
    margin-right: 11.25rem;
    margin-top: 6.25rem;
}

.span__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.span__h3 {
    color: var(--grey5);
    font-size: 1.375rem;
}

.span__pl {
    display: flex;
    color: var(--grey4);
    margin-bottom: 0.9375rem;
}

.section__container {
    width: 100%;
    height: 37.5rem;
    background-color: var(--grey2);
    display: flex;
}

.section__div {
    background-color: var(--grey2);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34.375rem;
    flex-direction: column;
    margin-left: 15.625rem;
    margin-top: 6.25rem;
    margin-bottom: 15.625rem;
    color: var(--grey4);
}

.li__div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 3.125rem;
    width: 37.5rem;
    height: 6.25rem;
}

.span__name {
    display: flex;
    flex-direction: column;
    width: 21.875rem;
    height: 6.25rem;
    gap: 0.9375rem;
    font-size: 1rem;
    margin-left: 1.25rem;
}

.aside__para {
    font-size: 0.75rem;
}

.div__aside {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 27.875rem;
    height: 25rem;
    margin-top: 1.25rem;
    margin-left: 15.625rem;
    background-color: var(--brand-1);
}

.aside__h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2.1875rem;
    margin-top: 4.0625rem;
    margin-left: 2.1875rem;
    color: var(--grey4);
    font-weight: 600;
}

.aside__p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 3.125rem;
    width: 24.1875rem;
    height: 8.4375rem;
    margin-left: 2.5rem;
    color: var(--grey4);
    font-weight: 200;
}

.footer__container {
    display: flex;
    height: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--grey0);
    color: var(--grey4);
    font-weight: 600;
}

dialog[open] {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 31.25rem;
    height: 25rem;
    background-color: var(--grey1);
    border-radius: 0.0625rem;
}

dialog[open]>h1 {
    display: flex;
    margin-left: 1.5625rem;
    margin-bottom: 3.125rem;

    font-size: 1.25rem;
    font-weight: 600;
    line-height: 150%;
    color: var(--grey5);
}

dialog[open]>input {
    display: flex;
    top: 1.25rem;
    left: 0.9375rem;
    width: 26.875rem;
    margin-left: 1.875rem;
    height: 2.5rem;
    color: var(--grey4);
    background-color: var(--grey0);
}

dialog[open]>.btn__modal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27.5rem;
    height: 3.125rem;
    margin-top: 1.875rem;
    margin-left: 1.875rem;
    background-color: var(--brand-1);
    font-size: 1.125rem;
    color: var(--grey5);
}

dialog[open]>.btn__fechar {
    display: flex;
    position: relative;
    width: 1.875rem;
    align-items: center;
    justify-content: center;
    height: 1.5625rem;
    background-color: var(--grey2);
    bottom: 22.5rem;
    left: 28.125rem;
    color: var(--grey5);
}

dialog[open]>p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 1.875rem;
    width: 28.125rem;
    height: 9.375rem;
    color: var(--grey4);

    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.25rem;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.9);
}